//video y mapa
@mixin shadow-box {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.video-container iframe,
.map-container iframe {
    @include shadow-box;
    max-width: 100%;
}